<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAPPassword" value="xxxPasswordxxx " />
    <add key="LDAPPath" value="LDAP://domain/DC=xxx,DC=com" />
    <add key="LDAPUser" value="xxxUserxxx " />


    <!--<add key="LDAPPassword" value="xxxPasswordxxx " />
    <add key="LDAPPath" value="LDAP://domain/DC=xxx,DC=com" />
    <add key="LDAPUser" value="xxxUserxxx " />-->



  </appSettings>
</configuration>